.page {
	margin: 0;
	padding: 0 120px;
	font-family: "Mulish",'Helvetica', sans-serif;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 134px;
}
.header__logo {
	border-right: 1px solid #e9ecef;
	height: 45px;
	padding-right: 20px;
}
.header__left {
	display: flex;
	height: inherit;
	align-items: center;
	justify-content: center;
}
.header__menu {
	height: 45px;
	padding-left: 20px;
}
.header__img {
	height: 45px;
}
.header__nav {
	height: inherit;
}
.header__items {
	margin: 0;
	padding: 0;
	height: inherit;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
}
.header__item {
}
.header__link {
	color: inherit;
	text-decoration: none;
}
.header__right {
	display: flex;
	align-items: center;
	gap: 20px;
}
.header__instraction {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 3px solid #238b48;
	border-radius: 5px;
	padding: 20px;
	background-color: lightgreen;
	cursor: pointer;
}
.header__icon {
	width: 32px;
	height: 32px;
	padding: 0 15px;
}
.header__icon-img{
	width: 100%;
	height: 100%;
}
.header__text {
}
.header__iconsearch {
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.promo {
}
.success-stories {
}
.news {
}
.subscride {
}
.footer {
}
